<div class="container">

  <h1>Meet other people!!!</h1>
  <hr/>

  <div class="row">

    <div class="col-lg-8">
    
        <div class="people">
          <div class="card-columns"> 
              <div *ngFor="let user of users" class="card">
                <ng-container *ngIf="user.image; else elseTemplate">
                    <img src="{{ url + '/get-image-user/' + user.image }}" class="card-img-top" alt="...">
                </ng-container>
                <ng-template #elseTemplate>
                    <img src="{{ 'assets/no-img.jpg' }}" class="card-img-top" alt="...">
                </ng-template>
                <div class="card-body">
                  <h5 class="card-title">
                    <a [routerLink]="[ '/profile', user._id ]"> 
                      {{ user.name }} {{ user.surname }}
                    </a>
                  </h5>
                  <p class="card-text">@{{ user.nick }}</p>
                  
                  <div class="follow" *ngIf="identity._id != user._id">
                    <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0" (click)="followUser(user._id)">
                      <span> <i class="fa fa-plus" aria-hidden="true"></i> Follow </span>
                    </button>
      
                    <button class="btn btn-primary" *ngIf="follows.indexOf(user._id) >= 0 && user._id != identity._id"
                      (mouseenter)="onMouseEnter(user._id)" (mouseleave)="onMouseLeave(user._id)" [ngClass]="{'btn-danger': user._id == followUserOver}">
                      <ng-container *ngIf="user._id == followUserOver; else elseTemplate">
                          <span (click)="unFollowUser(user._id)"> <i class="fa fa-minus" aria-hidden="true"></i>  Unfollow </span>
                      </ng-container>
                      <ng-template #elseTemplate>
                          <span> Following </span>
                      </ng-template>
                    </button>
                  </div>
                </div>
              </div>
          </div>
    
    
          <!-- Paginacion -->
          <ul class="pagination justify-content-center" *ngIf="page != null && pages > 1">
            <li *ngIf="page > 1"> <a class="page-link" [routerLink]="[ '/people', prev_page ]"> Before </a> </li>
            <li *ngIf="pages != page"> <a class="page-link" [routerLink]="[ '/people', next_page ]"> After </a> </li>
          </ul>
        </div>
      </div>
      <app-sidebar class="col-lg-4"></app-sidebar>
  </div>    
</div>
  