#user-card
{
    border: 1px solid #ccc;
    padding: 1em;
    line-height: 2.5;
    img
    {
        width: 100%;
        height: auto;
        border-radius: 100%;
        border: 1px solid #ccc;
    }
}

#new-publication
{
    margin-top: 25px;
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 2.5rem;
}